<div class="well" id="job-listing">
  <h3 class="job-title"><%= @job.title%></h3>
  <div class="row">
    <div class="col-sm-10">
      <p class="job-key-details">
        <span>
          <%= @job.company %>
        </span>
        <span>
          | <%= @job.kind %>
        </span>
        <span>
           | <%= @job.category %>
        </span>
        <span>
           | $<%= @job.salary %>
        </span>
      </p>
    </div>
    <div class="col-sm-2 text-right">
      <%= link_to "Apply", new_job_candidate_path(@job), class: "btn btn-info btn-block" %>
    </div>
  </div>

  <hr>
  <div class="job-description"><%= raw @job.description%></div>

</div>
