<div class="well">
  <h1>Listing Jobs</h1>


    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Company</th>
          <th>Salary</th>
          <th>Type</th>
          <th>Category</th>
          <th>Contact</th>
          <th>No. of candidates</th>
        </tr>
      </thead>

      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= job.title %></td>
            <td><%= truncate(job.description, length: 100) %></td>
            <td><%= job.company %></td>
            <td><%= job.salary %></td>
            <td><%= job.kind %></td>
            <td><%= job.category %></td>
            <td><%= job.contact %></td>
            <td><%= job.candidates.count %></td>
            <td>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Actions
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><%= link_to 'Candidates', admin_job_candidates_path(job) %></li>
                  <li><%= link_to 'View', job_path(job) %></li>
                  <li><%= link_to 'Edit', edit_admin_job_path(job) %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Destroy', admin_job_path(job), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  <br>

  <%= link_to 'New Job', new_admin_job_path, class: "btn btn-info" %>
</div>
